.layer-1-container {
  width: var(--layer1-container-size);
  height: var(--layer1-container-size);
  background-color: #0c111b;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: layer1ZoomAnimation var(--zoom-duration) ease-in-out;
  transform: translate(-50%, -50%);
  z-index: var(--layer1-z-index);
}

@keyframes layer1ZoomAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes layer1RotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layer-1-container .rolls-royce {
  width: 217px;
  height: 217px;
  opacity: 1;
  outline-offset: 0px;
  background: url(/assets/layer1/path.svg) no-repeat;
  background-size: cover;
  background-clip: border-box;
  border: 1px #000;
  border-radius: 100%;
  outline: 3px #333;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
  animation: layer1RotateAnimation var(--animation-duration) linear infinite;
}

.layer-1-container .avatar {
  width: 56px;
  height: calc(217px / 2 + 25px);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -28px;
  transform-origin: center bottom;
}

@keyframes avatar1RotateAnimation {
  0% {
    transform: rotate(calc(360deg - var(--layer1-item-gap)));
  }
  100% {
    transform: rotate(var(--layer1-item-gap-reverse));
  }
}

.layer-1-container .avatar-1 {
  transform: rotate(72deg);
}

.layer-1-container .avatar-1 img {
  animation: avatar1RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes avatar2RotateAnimation {
  0% {
    transform: rotate(calc(360deg - calc(var(--layer1-item-gap) * 2)));
  }
  100% {
    transform: rotate(calc(var(--layer1-item-gap-reverse) * 2));
  }
}

.layer-1-container .avatar-2 {
  transform: rotate(144deg);
}

.layer-1-container .avatar-2 img {
  animation: avatar2RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes avatar3RotateAnimation {
  0% {
    transform: rotate(calc(360deg - calc(var(--layer1-item-gap) * 3)));
  }
  100% {
    transform: rotate(calc(var(--layer1-item-gap-reverse) * 3));
  }
}

.layer-1-container .avatar-3 {
  transform: rotate(216deg);
}

.layer-1-container .avatar-3 img {
  transform: rotate(-216deg); 
  animation: avatar3RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes avatar4RotateAnimation {
  0% {
    transform: rotate(calc(360deg - calc(var(--layer1-item-gap) * 4)));
  }
  100% {
    transform: rotate(calc(var(--layer1-item-gap-reverse) * 4));
  }
}

.layer-1-container .avatar-4 {
  transform: rotate(288deg);
}

.layer-1-container .avatar-4 img {
  transform: rotate(-288deg); 
  animation: avatar4RotateAnimation var(--animation-duration) linear infinite;
}


@keyframes avatar5RotateAnimation {
  0% {
    transform: rotate(calc(360deg - calc(var(--layer1-item-gap) * 5)));
  }
  100% {
    transform: rotate(calc(var(--layer1-item-gap-reverse) * 5));
  }
}

.layer-1-container .avatar-5 {
  transform: rotate(0);
}

.layer-1-container .avatar-5 img {
  animation: avatar5RotateAnimation var(--animation-duration) linear infinite;
}

.layer-1-container .logo {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  animation: avatar5RotateAnimation var(--animation-duration) linear infinite;
}