
@keyframes layer2RotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layer-2-container {
  width: var(--layer2-container-size);
  height: var(--layer2-container-size);
  opacity: 1;
  background: url(/src/assets/layer2/path.svg) 50%;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(0px - var(--layer2-container-size) / 2);
  margin-top: calc(0px - var(--layer2-container-size) / 2);
  animation: layer2RotateAnimation var(--animation-duration) linear infinite;
}

.layer-2-container .tool {
  width: 44px;
  height: calc(var(--layer2-container-size) / 2 + 15px);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -22px;
  transform-origin: center bottom;
}

@keyframes tool1RotateAnimation {
  0% {
    transform: rotate(calc(360deg - var(--layer2-item-gap) + 36deg));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) + 36deg));
  }
}

.layer-2-container .tool-1 {
  transform: rotate(calc(var(--layer2-item-gap) - 36deg));
}

.layer-2-container .tool-1 img {
  animation: tool1RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes tool2RotateAnimation {
  0% {
    transform: rotate(calc(360deg - calc(var(--layer2-item-gap) * 2) + 38deg));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) * 2 + 38deg));
  }
}

.layer-2-container .tool-2 {
  transform: rotate(calc(var(--layer2-item-gap) * 2 - 38deg));
}

.layer-2-container .tool-2 img {
  animation: tool2RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes tool3RotateAnimation {
  0% {
    transform: rotate(calc(360deg - calc(var(--layer2-item-gap) * 3) + 36deg));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) * 3 + 36deg));
  }
}

.layer-2-container .tool-3 {
  transform: rotate(calc(var(--layer2-item-gap) * 3 - 36deg));
}

.layer-2-container .tool-3 img {
  animation: tool3RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes tool4RotateAnimation {
  0% {
    transform: rotate(calc(360deg + 20deg - calc(var(--layer2-item-gap) * 4)));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) * 4) + 20deg);
  }
}

.layer-2-container .tool-4 {
  transform: rotate(calc(var(--layer2-item-gap) * 4 - 40deg));
}

.layer-2-container .tool-4 img {
  animation: tool4RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes tool5RotateAnimation {
  0% {
    transform: rotate(calc(360deg + 10deg - calc(var(--layer2-item-gap) * 5)));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) * 5 + 10deg));
  }
}

.layer-2-container .tool-5 {
  transform: rotate(calc(var(--layer2-item-gap) * 5 - 38deg));
}

.layer-2-container .tool-5 img {
  animation: tool5RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes tool6RotateAnimation {
  0% {
    transform: rotate(calc(360deg + 38deg - calc(var(--layer2-item-gap) * 6)));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) * 6 + 38deg));
  }
}

.layer-2-container .tool-6 {
  transform: rotate(calc(var(--layer2-item-gap) * 6 - 38deg));
}

.layer-2-container .tool-6 img {
  animation: tool6RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes tool7RotateAnimation {
  0% {
    transform: rotate(calc(360deg + 38deg - calc(var(--layer2-item-gap) * 7)));
  }
  100% {
    transform: rotate(calc(var(--layer2-item-gap-reverse) * 7 + 38deg));
  }
}

.layer-2-container .tool-7 {
  transform: rotate(calc(var(--layer2-item-gap) * 7 - 38deg));
}

.layer-2-container .tool-7 img {
  animation: tool7RotateAnimation var(--animation-duration) linear infinite;
}