@keyframes layer3RotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layer-3-container {
  width: var(--layer3-container-size);
  height: var(--layer3-container-size);
  max-width: var(--layer3-container-size);
  background: url(/src/assets/layer3/path.png) 50% 50% no-repeat;
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc(0px - var(--layer3-container-size) / 2);
  margin-top: calc(0px - var(--layer3-container-size) / 2);
  animation: layer3RotateAnimation var(--animation-duration) linear infinite;
}

.layer-3-container .item {
  width: 0;
  height: calc(var(--layer3-container-size) / 2 + 5px);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: center bottom;
}

.layer-3-container .item img {
  display: block;
  max-width: none;
  position: absolute;
  left: 50%;
}

.layer-3-container .item-1 {
  transform: rotate(var(--layer3-item-gap));
}

.layer-3-container .item-1 img {
  animation: item1RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item1RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - var(--layer3-item-gap)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--layer3-item-gap-reverse));
  }
}

.layer-3-container .item-2 {
  transform: rotate(calc(var(--layer3-item-gap) * 2));
}

.layer-3-container .item-2 img {
  animation: item2RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item2RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 2)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 2));
  }
}

.layer-3-container .item-3 {
  transform: rotate(calc(var(--layer3-item-gap) * 3));
}

.layer-3-container .item-3 img {
  animation: item3RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item3RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 3)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 3));
  }
}

.layer-3-container .item-4 {
  transform: rotate(calc(var(--layer3-item-gap) * 4));
}

.layer-3-container .item-4 img {
  animation: item4RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item4RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 4)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 4));
  }
}

.layer-3-container .item-5 {
  transform: rotate(calc(var(--layer3-item-gap) * 5));
}

.layer-3-container .item-5 img {
  animation: item5RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item5RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 5)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 5));
  }
}

.layer-3-container .item-6 {
  transform: rotate(calc(var(--layer3-item-gap) * 6));
}

.layer-3-container .item-6 img {
  animation: item6RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item6RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 6)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 6));
  }
}

.layer-3-container .item-7 {
  transform: rotate(calc(var(--layer3-item-gap) * 7));
}

.layer-3-container .item-7 img {
  animation: item7RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item7RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 7)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 7));
  }
}

.layer-3-container .item-8 {
  transform: rotate(0);
}

.layer-3-container .item-8 img {
  animation: item8RotateAnimation var(--animation-duration) linear infinite;
}

@keyframes item8RotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(calc(360deg - calc(var(--layer3-item-gap) * 8)));
  }
  100% {
    transform: translate(-50%, -50%) rotate(calc(var(--layer3-item-gap-reverse) * 8));
  }
}