
@keyframes layer2RotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layer-2-container {
  width: 500px;
  height: 500px;
  max-width: 500px;
  opacity: 1;
  background: url(/src/assets/layer2/path.svg) 50%;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  animation: layer2RotateAnimation 30s linear infinite;
}

.layer-2-container .tool {
  width: 44px;
  height: calc(500px / 2 + 15px);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -22px;
  transform-origin: center bottom;
}

@keyframes tool1RotateAnimation {
  0% {
    transform: rotate(294deg);
  }
  100% {
    transform: rotate(-66deg);
  }
}

.layer-2-container .tool-1 {
  transform: rotate(66deg);
}

.layer-2-container .tool-1 img {
  transform: rotate(-66deg);
  animation: tool1RotateAnimation 30s linear infinite;
}

@keyframes tool2RotateAnimation {
  0% {
    transform: rotate(242deg);
  }
  100% {
    transform: rotate(-118deg);
  }
}

.layer-2-container .tool-2 {
  transform: rotate(118deg);
}

.layer-2-container .tool-2 img {
  transform: rotate(-118deg);
  animation: tool2RotateAnimation 30s linear infinite;
}

@keyframes tool3RotateAnimation {
  0% {
    transform: rotate(194deg);
  }
  100% {
    transform: rotate(-166deg);
  }
}

.layer-2-container .tool-3 {
  transform: rotate(166deg);
}

.layer-2-container .tool-3 img {
  transform: rotate(-166deg);
  animation: tool3RotateAnimation 30s linear infinite;
}

@keyframes tool4RotateAnimation {
  0% {
    transform: rotate(141deg);
  }
  100% {
    transform: rotate(-219deg);
  }
}

.layer-2-container .tool-4 {
  transform: rotate(219deg);
}

.layer-2-container .tool-4 img {
  transform: rotate(-219deg);
  animation: tool4RotateAnimation 30s linear infinite;
}

@keyframes tool5RotateAnimation {
  0% {
    transform: rotate(89deg);
  }
  100% {
    transform: rotate(-271deg);
  }
}

.layer-2-container .tool-5 {
  transform: rotate(271deg);
}

.layer-2-container .tool-5 img {
  transform: rotate(-271deg);
  animation: tool5RotateAnimation 30s linear infinite;
}

@keyframes tool6RotateAnimation {
  0% {
    transform: rotate(37deg);
  }
  100% {
    transform: rotate(-323deg);
  }
}

.layer-2-container .tool-6 {
  transform: rotate(323deg);
}

.layer-2-container .tool-6 img {
  transform: rotate(-323deg);
  animation: tool6RotateAnimation 30s linear infinite;
}

@keyframes tool7RotateAnimation {
  0% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.layer-2-container .tool-7 {
  transform: rotate(15deg);
}

.layer-2-container .tool-7 img {
  transform: rotate(-15deg);
  animation: tool7RotateAnimation 30s linear infinite;
}