@tailwind base;
@tailwind components;
@tailwind utilities;

.div-block {
  height: 670px;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}