@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-duration: 20s;
  --zoom-duration: 0.5s;
  --layer3-item-gap: calc(360deg / 8);
  --layer3-item-gap-reverse: calc(-360deg / 8);
  --layer3-container-size: 650px;
  --layer2-item-gap: calc(360deg / 7);
  --layer2-item-gap-reverse: calc(-360deg / 7);
  --layer2-shift: 36deg;
  --layer2-container-size: 500px;
  --layer1-item-gap: calc(360deg / 5);
  --layer1-item-gap-reverse: calc(-360deg / 5);
  --layer1-container-size: 360px;
  --layer1-z-index: 10;
}

.div-block {
  height: 670px;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}